
<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="About Web" />
    <meta name="author" content="ᴹᴿ᭄zeeone⁴̅⁰͍⁴̵〆⁩×፝֟͜×" />
    <meta content='#007FFF' name='theme-color'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <base target="_blank"/>
    <title>About This Rest Api</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Poppins');
      *{
        font-family: 'Poppins', sans-serif;
      }
    </style>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient shadow mb-3">
    <div class="container">
      <a class="navbar-brand fw-bold" href="/">Alphabot - Api</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://cheems-api.herokuapp.com/">API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://cheems-api/about.html">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="card m-3 text-center shadow">
      <h2 class="card-header shadow-sm bg-primary text-white">About This Web</h2>
      <div class="card-body">
      <div class="text-center">
        <img src="https://i.ibb.co/TPX004N/26.jpg" class="rounded-circle shadow mb-3" alt="Space" width="150px" height="150px">
      </div>
        <p class="card-text text-shadow">Web API Ini dibuat sepenuhnya oleh zahir.<br/>Saya hanya mencoba untuk mengembangkannya.<br/>Dan saya juga masih pemula.<br/>Masih belajar tentang programming<br/>
        Terimakasih Untuk <b>Zahir Hadi Athallah.</b><br/>Sekali lagi saya mengucapkan Terimakasih.</p>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
